.bold {
    font-weight: 900;
}

.cur {
    font-style: italic;
}

.font {
    font-family: Arial, Helvetica,sans-serif;
}

.color {
    color: firebrick;
}

.bg {
    background: url("../img/stol.avif`") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}